<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401897241597-de6ama67iv9h7g877eb86v4931a0722k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401897241597-de6ama67iv9h7g877eb86v4931a0722k</string>
	<key>API_KEY</key>
	<string>AIzaSyAfPh03KxvwDjU76NzKk4oNSI5vtcc2wDY</string>
	<key>GCM_SENDER_ID</key>
	<string>401897241597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>shop-app-569f8</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-app-569f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401897241597:ios:b40fd07e8bdf9771a2b794</string>
</dict>
</plist>